/** @format */
/** @format */
/** @format */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
body {
  margin: 0;
}

.wrap {
  max-width: 1056px;
  margin: auto;
}

@media screen and (min-width: 1980px) {
  .wrap {
    max-width: 1296px;
  }
}

/** @format */
.whitebox {
  list-style-type: none;
  width: 70vw;
  min-height: 228px;
  background-color: white;
  text-align: center;
  -webkit-box-shadow: 0px 2px 8px 0px #0000000d;
          box-shadow: 0px 2px 8px 0px #0000000d;
  margin: 15px;
}

.whitebox__h {
  font-weight: 300;
  font-size: 20px;
  margin: 36px 27px 0 27px;
}

@media screen and (min-width: 1980px) {
  .whitebox__h {
    font-size: 30px;
  }
}

.whitebox__p {
  font-weight: 300;
  font-size: 15px;
  color: #808080;
  margin: 12px 27px 20px 27px;
}

@media screen and (min-width: 1980px) {
  .whitebox__p {
    font-size: 20px;
  }
}

.whitebox__img {
  margin: auto;
  margin: 12px;
}

@media screen and (min-width: 576px) {
  .whitebox {
    width: 332px;
    margin: 10px;
  }
}

@media screen and (min-width: 1980px) {
  .whitebox {
    width: 412px;
  }
}

/** @format */
.glider {
  width: 70%;
}

@media screen and (min-width: 1200px) {
  .glider {
    width: auto;
  }
}

.glider-prev {
  background-image: url("../media/left-arrow.png");
  background-position: 47% 50%;
  top: 95px;
  left: 18px;
}

@media screen and (min-width: 1200px) {
  .glider-prev {
    top: 95px;
    left: -58px;
  }
}

.glider-next {
  background-image: url("../media/right-arrow.png");
  background-position: 53% 50%;
  top: 95px;
  right: 18px;
}

@media screen and (min-width: 1200px) {
  .glider-next {
    top: 95px;
    right: -58px;
  }
}

.glider-prev,
.glider-next {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}

.glider-prev.disabled,
.glider-next.disabled {
  opacity: 1;
  cursor: default;
  background-color: rgba(245, 245, 220, 0);
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  background-color: #f1f6fc;
}

header {
  background-color: #ffffff;
  height: 84px;
}

.logo {
  margin: 23px;
}

.section {
  text-align: center;
  padding-bottom: 50px;
}

.section--light {
  background-color: #f1f6fc;
}

.section--highlighted {
  background-color: #215398;
}

@media screen and (min-width: 1980px) {
  .section {
    padding-bottom: 90px;
  }
}

.intro {
  position: relative;
}

.intro::after {
  content: "";
  width: 32px;
  height: 32px;
  background-color: #ff3859;
  position: absolute;
  bottom: -16px;
  left: calc(50% - 16px);
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 4px rgba(255, 56, 89, 0.2);
          box-shadow: 0px 4px 4px rgba(255, 56, 89, 0.2);
}

.h1 {
  font-size: 40px;
  padding-top: 50px;
}

.h1__subheader {
  font-size: 20px;
  margin: 10px 15px 40px 15px;
}

@media screen and (min-width: 1980px) {
  .h1__subheader {
    margin: 20px 15px 40px 15px;
  }
}

.h1__subheader--white {
  color: #ffffff;
}

.h1__subheader--black {
  color: #2d3236;
}

@media screen and (min-width: 1980px) {
  .h1__subheader {
    font-size: 32px;
  }
}

.h1--white {
  color: #ffffff;
}

.h1--black {
  color: #2d3236;
}

@media screen and (min-width: 1980px) {
  .h1 {
    font-size: 60px;
  }
}

.h3 {
  font-size: 30px;
  color: #2d3236;
  padding-bottom: 24px;
}

@media screen and (min-width: 1980px) {
  .h3 {
    font-size: 42px;
  }
}

.h1,
.h3 {
  font-weight: 300;
  margin: 0;
}

.whitebox-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .whitebox-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=index.css.map */