body {
  margin: 0;
}
.wrap {
  max-width: 1056px;
  margin: auto;
  @media screen and (min-width: $screen-xl-min) {
    max-width: 1296px;
  }
}
.whitebox-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: $screen-md-min) {
    flex-direction: row;
  }
}
