/** @format */

//***RWD***
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1980px;

//***typography***
$main-font: "Rubik", sans-serif;
$main-weight: 300;
$h1-size: 40px;
$h1-sub-size: 20px;
$h3-size: 30px;
$h-top-padding: 50px;

//***colors***
$light-blue: #f1f6fc;
$blue: #215398;
$black: #2d3236;
$white: #ffffff;
$red: #ff3859;
$red-shadow: 0px 4px 4px rgba(255, 56, 89, 0.2);

//***navigation***
$logo-margin: 23px;
