.glider {
  width: 70%;
  overflow-x: hidden;
  @media screen and (min-width: 1200px) {
    width: auto;
  }
}
.glider-prev {
  background-image: url("../media/left-arrow.png");
  background-position: 47% 50%;
  top: 95px;
  left: 18px;
  @media screen and (min-width: 1200px) {
    top: 95px;
    left: -58px;
  }
}
.glider-next {
  background-image: url("../media/right-arrow.png");
  background-position: 53% 50%;
  top: 95px;
  right: 18px;
  @media screen and (min-width: 1200px) {
    top: 95px;
    right: -58px;
  }
}
.glider-prev,
.glider-next {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  @media screen and (max-width: 576px) {
    // display: none;
  }
}
.glider-prev.disabled,
.glider-next.disabled {
  opacity: 1;
  cursor: default;
  background-color: rgba(245, 245, 220, 0);
}
